[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "*"
uvicorn = "*"
fastapi = "*"
psycopg = "*"
asyncpg = "*"
alembic = "*"
pydantic = "*"
pydantic-settings = "*"
sqlalchemy = "*"
passlib = {version = "*", extras = ["bcrypt"]}
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
